<html>
<style type="text/css">
body {background-color:FloralWhite;}
fieldset {background-color:White; width:300px; margin:50px;}
</style> 
<html>
 <head>
    <title>search</title>
    <style type="text/css">
		 body {background-color:powderblue;}</style>
 </head>
 <body>
	
 
    <h1> </h1>
 <br>
     {% if form.errors %}
         <p style="color: red;">
             Please correct the error{{ form.errors|pluralize }} below.
        </p>
     {% endif %}

     <h2>Enter Roll Number</h2>
     <form action="" method="post">
	 {% csrf_token %}
      <table >
            {{ form.as_table }}            
         </table>
        <input type="submit" value="Search" ></form>
 <form action="/data/" method="get">
     <input type="submit" value="Information Technology"/></form>
    
 </body>
 </html>
